/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$niu_black: #1C1C1B;
$niu_yellow: #FFC627;

$orange: #ff9900;
$bluey: #6688ff;

$primary: $niu_yellow;
$primary_b: $niu_black;
$primary_text: #222222;

$base_bg: $niu_yellow;
$base_fg: $niu_black;

$map_nav_bg: $niu_yellow;
$nav_fg: $niu_black;
$nav_fg_hover: $niu_yellow;

$col_click_map: $niu_yellow;
$col_click_map_dark: darken($niu_yellow, 10%);

$col_fixed_label: #00BD08;
$col_fixed_label_dark: #4B8304;

$body-font: "Montserrat", Helvetica, Arial, sans-serif;
$meta-font: inherit;
$heading-font: inherit;