@import "_colours";
@import "../sass/layout";

// Larger logo on wide screens
#site-logo,
body.frontpage #site-logo {
    height: 65px;
    top: 1em;
    background: url(/cobrands/niu/images/site-logo-desktop.png) 0 0 no-repeat;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(/cobrands/niu/images/site-logo-desktop@2x.png);
        background-size: 175px 65px;
    }
}

// Even bigger logo on the homepage
body.frontpage #site-logo {
    height: 96px;
    background: none;
    color: black;
    font-size: 2.5em;
    text-indent: 0;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(/cobrands/niu/images/site-logo-home@2x.png);
        background-size: 250px 96px;
    }
}

// Smaller logo on the map page
body.mappage #site-logo {
    top: 0.75em;
    height: 48px;
    background: transparent url(/cobrands/niu/images/site-logo-mobile.png) 0 0 no-repeat;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(/cobrands/niu/images/site-logo-mobile@2x.png);
        background-size: 100px 48px;
    }
}

#front-main {
    background: darken($primary, 10%) url(/cobrands/niu/images/home-background.jpg) center center no-repeat;
    background-size: cover;
    padding: 6em 0;
}

.nav-wrapper .nav-wrapper-2 {
    border-top-color: $niu_black;
}

.nav-menu--mysoc {
    display: none;
}

// selected nav bar items
.nav-menu--main span {
    color: #fff;
}

#report-a-problem-sidebar {
  display: none;
}