<h2>[% loc('How to contribute') %]</h2>

<ol class="big-numbers">
    <li>[% question %]</li>
    <li>[% loc('Locate the contribution on a map of the area') %]</li>
    <li>[% loc('Enter details of your contribution') %]</li>
    <li>[% loc('If you&rsquo;re not sure what it is then you can ask the community to identify it') %]</li>
    <li>[% loc('We share it with your naturehood') %]</li>
</ol>

<section class="full-width">
[% INCLUDE "front/stats.html" %]
[% TRY %][% INCLUDE "front/tips.html" %][% CATCH file %][% END %]
</section>
