<h2>[% loc('How to record a noticing') %]</h2>

<ol class="big-numbers">
    <li>[% question %]</li>
    <li>[% loc('Locate the noticing on a map of the area') %]</li>
    <li>[% loc('Enter details of the noticing') %]</li>
    <li>[% loc('If you&rsquo;re not sure what it is then you can ask the community to identify it') %]</li>
    <li>[% loc('We send it to the scientists on your behalf') %]</li>
</ol>

<section class="full-width">
[% INCLUDE "front/stats.html" %]
[% TRY %][% INCLUDE "front/tips.html" %][% CATCH file %][% END %]
</section>
